/node_modules
/public/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/certs
composer.phar
/bootstrap
/config
/storage
/tests
artisan
webpack.mix.js
server.php
tailwind.config.js
app/Providers/AppServiceProvider.php
